<div class="panel panel-info">
    <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body">
        <div class="col-md-6 nopadding">
            <div ace-editor
            [(text)]="editor_text"
            [mode]="'c_cpp'"
            [theme]="'eclipse'"
            [options]="options"
            [readOnly]="false"
            [autoUpdateContent]="true"
            style="min-height: 400px; width:100%; overflow: auto;">
            </div>
        </div>
        <div class="col-md-6 nopadding">
            <div ace-editor
            [(text)]="preview_text"
            [mode]="'c_cpp'"
            [theme]="'eclipse'"
            [options]="options"
            [readOnly]="false"
            [autoUpdateContent]="true"
            style="min-height: 400px; width:100%; overflow: auto;">
            </div>
        </div>
    </div>
</div>






