<div class="row">
  <div class="panel panel-info">
    <div class="panel-heading">
      <button type="button" class="btn btn-default btn-sm"
      (click)="saveChanges()"
      >
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
      </button>
    </div>
    <div class="panel-body">
      <div class="col-md-6 nopadding">
          <div ace-editor
          [(text)]="file.text"
          [mode]="'c_cpp'"
          [theme]="'eclipse'"
          [options]="options"
          [readOnly]="false"
          [autoUpdateContent]="true"
          style="min-height: 400px; width:100%; overflow: auto;">
          </div>
      </div>
      <div class="col-md-6 nopadding">
          <div ace-editor
          [(text)]="preview_text"
          [mode]="'c_cpp'"
          [theme]="'eclipse'"
          [options]="options"
          [readOnly]="false"
          [autoUpdateContent]="true"
          style="min-height: 400px; width:100%; overflow: auto;">
          </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="panel panel-success">
      <div class="panel-heading">

      </div>
      <div class="panel-body">
          <div class="component-console">
          <div class="prompt">
              <span class="chevron">&#8250;</span>
              <textarea rows=10></textarea>
          </div>
          </div>
      </div>
    </div>
</div>










