<h1>{{ cafile | json }}</h1>
<form>
  <h2>Lattice</h2>
  <hr>
  <div class="form-group">
    <label>Pattern name</label>
    <select class="form-control" id="pattern_name" required [(ngModel)]="cafile.pattern_name" name="pattern_name">
      <option *ngFor="let pattern_name of patterns_name" [value]="pattern_name">{{pattern_name}}</option>
    </select>
    <small class="form-text text-muted">Select the cellular automata programming pattern.</small>
  </div>
  <div class="row">
    <div class="col-xs-6 form-group">
      <label>Matrix Number of Rows</label>
      <input type="number" class="form-control" value="20" id="row_num" required [(ngModel)]="cafile.row_num" name="row_num" #row_num="ngModel">
      <div [hidden]="row_num.valid || row_num.pristine" class="alert alert-danger">
        Number of rows is required
      </div>
    </div>
    <div class="col-xs-6 form-group">
      <label>Matrix Number of Cols</label>
      <input type="number" class="form-control" value="20" id="col_num" required [(ngModel)]="cafile.col_num" name="col_num" #col_num="ngModel">
      <div [hidden]="col_num.valid || col_num.pristine" class="alert alert-danger">
        Number of cols is required
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 form-group">
      <label>States Type</label>
      <select class="form-control" id="states_type" required [(ngModel)]="cafile.states_type" name="states_type">
        <option *ngFor="let states_type of states_types">{{states_type}}</option>
      </select>
    </div>
    <div class="col-xs-6 form-group">
      <label>Number of generations</label>
      <input type="number" class="form-control" value="20" id="matrix_cols_number" required [(ngModel)]="cafile.generations" name="generations">
    </div>
  </div>
  <h3>Neighborhood</h3>
  <hr>
  <div class="row">
    <div class="col-xs-3 form-grop">
      <label>Neighbor name</label>
      <input type="text" class="form-control" id="neighbor_name" placeholder="">
    </div>
    <div class="col-xs-3 form-grop">
      <label>X offset</label>
      <input type="number" value="-1" class="form-control" id="neighbor_xoffset">
    </div>
    <div class="col-xs-3 form-grop">
      <label>Y offset</label>
      <input type="number" value="-1" class="form-control" id="neighbor_yoffset">
    </div>
    <div class="col-xs-3 form-grop">
      <label><br></label>
      <button type="submit" class="form-control btn btn-primary">Add</button>
    </div>
  </div>
  <div class="row ">
    <div class="col-xs-3 form-group">
      <label><br></label>
      <button type="submit" class="form-control btn btn-primary">Submit</button>
    </div>
  </div>
</form>